/*  ###### banner ###### */
#top-banner {
    background:url('../images/bannerT.jpg') no-repeat 0 0;
    background-size:cover;
    min-height:140px;
    padding:15px 0 0 0;
    color: rgba(255, 255, 0, 0.75);

}
#right-banner {

    background:url('../images/bannerR.png') no-repeat 0 0;
    background-size:cover;
    height:900px;
}
#left-banner {
    background:url('../images/bannerR.png') no-repeat 0 0;
    background-size:cover;
    height:900px;
}
#bottom-banner {
    background:url('../images/CC-Catersource-AnimatedBannerAd.gif') no-repeat 0 0;
    background-size:cover;
    min-height:100px;
    max-width:  100%;
    margin: 0;
}
.banner{
    background-color: #a59e21;
    background-size:cover;
}

.banner-wrapper-vertiacl{
     padding-right: 0;
     padding-left: 0;
}
