.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #0f0f0f;
    border-radius: 20px 0 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #305e98;;
    background-color: transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus{
    color: #305e98;
    font-size: 16px;
    font-weight: bold;
    box-shadow: -5px 8px 20px black;
    background-color:transparent;
    border-color: #2aabd2;
}
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:hover{
    color: #305e98;
    background-color:transparent;
    box-shadow: -5px 8px 20px #8e1500;
    border-color: #2aabd2;
}
