@()

            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active ">
                        <a  href="#tab-1" data-toggle="tab">
                            <p>
                                <span class="hidden-xs">Объявления</span>
                                <span class="hidden-sm ">
                                    <i class="glyphicon glyphicon-book"></i>
                                </span>
                                <span class="badge">4</span>
                            </p>


                        </a>
                    </li>
                    <li class="">
                        <a href="#tab-2" data-toggle="tab">
                            <p>
                                <span class="hidden-xs">Cообщения</span>
                                <span class="hidden-sm">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>
                                <span class="badge">32</span>
                            </p>

                        </a>
                    </li>
                    <li class="">
                        <a href="#tab-3" data-toggle="tab">
                            <p>
                                <span class="hidden-xs">Счет</span>
                                <span class="hidden-sm">
                                    <i class="glyphicon glyphicon-usd"></i>
                                </span>
                                <span class="badge">11</span>
                            </p>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-1"><p>Content 1</p></div>
                    <div class="tab-pane fade"           id="tab-2"><p>Content 2</p></div>
                    <div class="tab-pane fade"           id="tab-3"><p>Content 3</p></div>
                </div>
            </div>
