


@template("Login page") {
    <div class="main-login main-center ">
        <h5>Sign in and watch any ads.</h5>
        <form class="#" method="post" action="#">


            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" id="email" value="" placeholder="Enter your Email"/>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="password"  value="" placeholder="Enter your Password"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="checkbox" class="checkbox" name="password" id="password" value="0" />
                    </div>
                </div>
            </div>


            <div class="form-group ">
                <a href="#" target="_blank" type="button" id="button-register" class="btn btn-primary btn-lg btn-block login-button">Register</a>
            </div>

        </form>
    </div>

}

