<html>
<head>
    <meta charset="UTF-8">
    <title>Secure Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="container">
    <div class="input-group">
        <span class="text-center input-group-addon" id="sizing-addon2">Payment mount</span>
        <input class="form-control col-lg-8 col-md-10 col-sm-12 col-xs-12" type="text" id="payment_amount"  value="1.00">
    </div>
</div>
</body>
</html>
