<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" media="screen" href="../../../public/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../../../public/css/custom.css">
</head>
<body>
<section>

    <div class="row" align="center"><img src="../../../public/images/bannerB.jpeg" class="img-responsive"></div>
    <p><br><br></p>

</section>

<p></p><p></p><p></p>

<section style="background-color: #F0F0F0;">
    <div class="col-xs-2" align="center">
        <div class="row-lg-4"><h3>DISTRIBUTION TRANSPORTATION</h3></div>
        <div class="row-lg-4"><img src="../../../public/images/bannerT.jpg" class="img-responsive"></div>
        <div class="row-lg-4">We operates our own dedicated trucks for FMCG products to Hypermarket & Supermarket deliveries within Peninsular Malaysia. Large number of royal clients are with us for many years since our establishment till now and we are still rapidly expanding in this area.</div>
    </div>
    <div class="col-xs-2" align="center">
        <div class="row-lg-4"><h3>WAREHOUSING INVENTORY</h3></div>
        <div class="row-lg-4"><img src="../../../public/images/bannerT.jpg" class="img-responsive"></div>
        <div class="row-lg-4">We have more than 70,000 sqf well-covered warehouse with CCTV and smart racking system. Warehouse Management System to manage space and inventory movements.</div>
    </div>
    <div class="col-xs-2" align="center">
        <div class="row-lg-4"><h3>PROJECT<br> DELIVERY</h3></div>
        <div class="row-lg-4"><img src="../../../public/images/CC-Catersource-AnimatedBannerAd.gif" class="img-responsive"></div>
        <div class="row-lg-4">Door-to-Door Parcel Deliveries within Peninsular & East Malaysia. Next day delivery to most of the major towns in Malaysia. Best solutions for Urgent, High Value, Light Weight, Less Volume shipments.</div>
    </div>

</section>





</body>
</html>
